#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--spacing-lg);
  text-align: center;
}

main {
  display: grid;
  gap: var(--spacing-md);
}

.content {
  display: flex;
  gap: var(--spacing-md);
}

.lists-grid {
  display: grid;
  gap: var(--spacing-lg);
}
